<div class="modal">
    <div class="modal-wrapper">
        <span class="modal-close" ng-click="$hide()">
            <img src="images/close.svg">
        </span>
        <span class="modal-title">
            Edit blog
        </span>
        <form ng-submit="vm.edit();$hide();">
            <fieldset class="form-field">
                <input type="file" class="input-file" 
			    ng-model="asd" 
				base-sixty-four-input 
				on-after-validate="vm.loadImg(asd)"/>
			    <img ng-src="{{vm.blog.img}}">
            </fieldset>
            <fieldset class="form-field">
                <input type="text" ng-model="vm.blog.title"/>
            </fieldset>
            <fieldset class="form-field">
                <textarea ng-model="vm.blog.description"></textarea>
            </fieldset>
            <fieldset class="form-field">
                <button type="submit">Save</button>
            </fieldset>
        </form>
    </div>
</div>