@import url("https://fonts.googleapis.com/css?family=Muli:400,700,700i|Nanum+Gothic");
@import url("https://fonts.googleapis.com/css?family=Dancing+Script:700");
.header {
  background-color: #28a745;
  text-align: center; }
  @media (max-width: 1199px) {
    .header .display-2 {
      font-size: 3.5rem; }
    .header .books_text {
      margin-top: 2rem; }
    .header #img-book {
      height: 200px;
      width: 215px; } }
  @media (max-width: 991px) {
    .header .display-2 {
      font-size: 3rem; }
    .header #about-block {
      margin-top: 2rem; } }
  @media (max-width: 767px) {
    .header .display-2 {
      font-size: 2rem; } }

.main {
  margin-top: 2.6rem;
  margin-left: 2rem; }

#profile-name {
  font-size: 24px;
  font-family: 'Muli', sans-serif; }

.tab-content {
  margin-top: 1rem; }

.about-text {
  font-family: 'Nanum Gothic', sans-serif; }

.about-sections {
  font-family: 'Muli', sans-serif;
  font-weight: 700; }

.about-profile-section-2 {
  margin-top: 3rem; }

#book-name {
  font-size: 18px;
  font-family: 'Muli', sans-serif; }

.form-control {
  margin-bottom: 10px; }

.news-text {
  font-family: 'Nanum Gothic', sans-serif; }

#img-book {
  height: 270px;
  width: 215px; }

.book_block:hover {
  background-color: #e6ffe6; }

.books_text {
  margin-left: 30px;
  width: 500px; }

.writers_wrapper {
  margin-right: 2rem; }

.footer {
  padding: 1rem 0;
  margin-top: 3rem;
  background-color: #28a745;
  color: white; }

.writers_user {
  padding: 12px 0;
  clear: both;
  position: relative; }

#user_photo {
  width: 110px;
  height: 110px;
  border-radius: 50%; }

.user_name {
  margin-top: 10px;
  margin-left: 5px;
  font-size: 20px;
  width: 100%; }

.user_follow {
  width: 100%; }

#btn_follow {
  margin-top: 1rem; }

#btn-add_book {
  margin-left: 28rem; }

#user_about {
  margin-top: 1rem; }

#user_name_block_2 {
  margin-left: 1rem; }

@media (max-width: 1199px) {
  .user_name {
    margin-top: 5px;
    margin-left: 24px;
    font-size: 20px; }
  .user_follow {
    margin-left: 22px; }
  #user_about {
    font-size: 12px; }
  #btn-add_book {
    margin-left: 20rem; } }

@media (max-width: 991px) {
  #user_name_block {
    width: 90px; }
  .user_follow {
    margin-left: 35px; }
  #btn-add_book {
    margin-left: 18rem; }
  #user_about {
    font-size: 15px;
    margin-left: 1rem; }
  .user_name {
    margin-top: 13px;
    margin-left: 38px;
    font-size: 16px; } }

@media (max-width: 767px) {
  #user_name_block_2 {
    width: 200px; }
  #btn-add_book {
    margin-left: 14rem; } }

@media (max-width: 566px) {
  #btn-add_book {
    margin-left: 11rem;
    height: 25px; }
  #btn_follow {
    width: 70px;
    font-size: 14px; }
  #name {
    font-size: 12px; } }

@media (max-width: 566px) {
  #btn-add_book {
    margin-left: 9rem; } }

@media (max-width: 486px) {
  #btn-add_book {
    margin-left: 7rem; } }

@media (max-width: 454px) {
  #btn-add_book {
    margin-left: 5rem; } }

@media (max-width: 422px) {
  #btn-add_book {
    margin-left: 3rem; } }

@media (max-width: 396px) {
  #btn_follow {
    display: inline-block; }
  #user_name_block {
    text-align: center; }
  #user_name_block_2 {
    text-align: center; }
  #user_about {
    text-align: center; }
  #user_photo {
    text-align: center; } }

@media (max-width: 370px) {
  #user_name_block_2 {
    width: 150px; } }

@media (max-width: 350px) {
  #btn-add_book {
    margin-left: -0.1rem; }
    #btn-add_book #btn_follow {
      margin-top: 15px;
      margin-left: 38px;
      width: 70px;
      font-size: 13px; }
    #btn-add_book .user_name {
      margin-top: 14px;
      margin-left: 38px;
      font-size: 13px; } }

@media (max-width: 991px) {
  #settings_input {
    margin-top: 2rem; } }

@media (max-width: 1199px) {
  .books_text {
    margin-left: 1rem; } }

@media (max-width: 991px) {
  #main-login {
    margin-top: 2rem; }
  .books_text {
    margin-top: 2rem; }
  #about-block {
    margin-top: 2rem; } }
