
.form-field {
    width: 100%;
    padding: 10px 0;
    position: relative;
}

.input {
    width: 100%;
    height: 35px;
    line-height: 33px;
    outline: none;
    border: 1px solid #e7e7e7;
}

.input-file {
    width: 100%;
    height: 100%;
    z-index: 4;
    opacity: 0;
    position: absolute;
}

.input-textarea {
    width: 100%;
    height: 100px;
    line-height: 20px;
    resize: none;
    box-sizing: border-box;
    border: 1px solid #e7e7e7;
    outline: none;
}

.form-field img {
    width: 150px;
    height: 150px;
    z-index: 1;
    margin: 0 auto;
    display: block;
}