input.list-item--description:disabled {
    background-color: transparent; /* TAKOI ZHE KAK U RODITEL`9*/
    border: none;
    color: #000;
}

.edit-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.list-item.active {
    z-index: 100;
    position: relative;
}