@import url("https://fonts.googleapis.com/css?family=Muli:400,700,700i|Nanum+Gothic");
@import url("https://fonts.googleapis.com/css?family=Muli:400,700,700i|Nanum+Gothic");
.header {
  background-color: #28a745; }

.navbar {
  height: 70px; }

.main {
  margin-top: 2.6rem;
  margin-left: 2rem; }

#profile-name {
  font-size: 24px;
  font-family: 'Muli', sans-serif; }

.tab-content {
  margin-top: 1rem; }

.about-text {
  font-family: 'Nanum Gothic', sans-serif; }

.about-sections {
  font-family: 'Muli', sans-serif;
  font-weight: 700; }

.about-profile-section-2 {
  margin-top: 3rem; }

#book-name {
  font-size: 18px;
  font-family: 'Muli', sans-serif; }

.form-control {
  margin-bottom: 10px; }

main {
  background-color: aqua; }
